@using NongSanShop.Common
@model NongSanShop.Models.dh_category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div>
        <h4>Chi tiết danh mục</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên danh mục
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                Mô tả
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>

            <dt>
                Thời gian tạo
            </dt>

            <dd>
                @{
                    if (Model.created.GetValueOrDefault() > 0)
                    {
                        @DateTimeOffset.FromUnixTimeSeconds(Model.created.GetValueOrDefault()).ToString(Constants.DateTimePattern.DefaultDateTimePattern)
                    }
                }
            </dd>

            <dt>
                Thời gian cập nhật
            </dt>

            <dd>
                @{
                    if (Model.updated.GetValueOrDefault() > 0)
                    {
                        @DateTimeOffset.FromUnixTimeSeconds(Model.updated.GetValueOrDefault()).ToString(Constants.DateTimePattern.DefaultDateTimePattern)
                    }
                }
            </dd>

            <dt>
                Hình ảnh minh họa
            </dt>

            <dd>
                @{
                    string imgPath = "~/wwwroot/uploads/categories/" + Model.avatar;
                }
                <img src="@Url.Content(imgPath)" width="400" />
                <br />
                @Html.DisplayFor(model => model.avatar)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Quay lại", "Index")
    </p>
</div>


