@using NongSanShop.Common
@model PagedList.IPagedList<NongSanShop.Models.dh_order>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <h3 class="text-dark mb-4">Đơn hàng</h3>
    <div class="card shadow">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                        <label>
                            Hiển thị&nbsp;<select class="form-control form-control-sm custom-select custom-select-sm">
                                <option value="10" selected="">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>&nbsp;
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Tìm kiếm"></label></div>
                </div>
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>
                                Tên tài khoản
                            </th>
                            <th>
                                Địa chỉ
                            </th>
                            <th>
                                Tên người dùng
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Code đơn hàng
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th>
                                Thời gian tạo
                            </th>
                            <th>
                                Thời gian cập nhật
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dh_user.username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.code_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.status)
                                </td>
                                <td>
                                    @{
                                        if (item.created.GetValueOrDefault() > 0)
                                        {
                                            @DateTimeOffset.FromUnixTimeSeconds(item.created.GetValueOrDefault()).ToString(Constants.DateTimePattern.DefaultDateTimePattern)
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (item.updated.GetValueOrDefault() > 0)
                                        {
                                            @DateTimeOffset.FromUnixTimeSeconds(item.updated.GetValueOrDefault()).ToString(Constants.DateTimePattern.DefaultDateTimePattern)
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.id }) |
                                    @Html.ActionLink("Chi tiết", "Details", new { id = item.id }) |
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.id })
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <strong>
                                    Tên tài khoản
                                </strong>
                            </td>
                            <td>
                                <strong>
                                    Địa chỉ
                                </strong>
                            </td>
                            <td>
                                <strong>
                                    Tên người dùng
                                </strong>
                            </td>
                            <td>
                                <strong>
                                    Email
                                </strong>
                            </td>
                            <td>
                                <strong>
                                    Code đơn hàng
                                </strong>
                            </td>
                            <td>
                                <strong>
                                    Trạng thái
                                </strong>
                            </td>
                            <td>
                                <strong>
                                    Thời gian tạo
                                </strong>
                            </td>
                            <td>
                                <strong>
                                    Thời gian cập nhật
                                </strong>
                            </td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
    <br />
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

