@using NongSanShop.Common
@model NongSanShop.Models.dh_user

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div>
        <h4>Chi tiết</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên đăng nhập
            </dt>

            <dd>
                @Html.DisplayFor(model => model.username)
            </dd>

            @*<dt>
                Mật khẩu
            </dt>

            <dd>
                @Html.DisplayFor(model => model.password)
            </dd>*@

            <dt>
                Tên người dùng
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                Email
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                Số điện thoại
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phone)
            </dd>

            <dt>
                Địa chỉ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>

            <dt>
                Quyền
            </dt>

            <dd>
                @{
                    var role = Model.role;
                    switch (role)
                    {
                        case 1:
                            @Html.Label("USER");
                            break;
                        case 2:
                            @Html.Label("ADMIN");
                            break;
                        default:
                            @Html.Label("");
                            break;
                    }
                }
                @*@Html.DisplayFor(model => model.role)*@
            </dd>

            <dt>
                Thời gian tạo
            </dt>

            <dd>
                @{
                    if (Model.created.GetValueOrDefault() > 0)
                    {
                        @DateTimeOffset.FromUnixTimeSeconds(Model.created.GetValueOrDefault()).ToString(Constants.DateTimePattern.DefaultDateTimePattern)
                    }
                }
            </dd>

            <dt>
                Thời gian cập nhật
            </dt>

            <dd>
                @{
                    if (Model.updated.GetValueOrDefault() > 0)
                    {
                        @DateTimeOffset.FromUnixTimeSeconds(Model.updated.GetValueOrDefault()).ToString(Constants.DateTimePattern.DefaultDateTimePattern)
                    }
                }
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Quay lại", "Index")
    </p>
</div>


