
@using NongSanShop.Common;

@model PagedList.IPagedList<NongSanShop.Models.dh_blog>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<!-- Breadcrumbs Start
    ================================================== -->

<section id="topic-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>Bài viết</h1>
            </div>	<!-- End of /.col-md-4 -->
            <div class="col-md-8 hidden-xs">
                <ol class="breadcrumb pull-right">
                    <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li class="active">Bài viết</li>
                </ol>
            </div>	<!-- End of /.col-md-8 -->
        </div>	<!-- End of /.row -->
    </div>	<!-- End of /.container -->
</section>	<!-- End of /#Topic-header -->


<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12 clearfix">
                <ul class="blog-zone">
                    @foreach (var item in Model)
                    {
                        <li>
                            <div class="blog-icon">
                                <i class="fas fa-pencil-alt"></i>
                            </div>
                            <div class="blog-box">
                                <img src="images/blog-1.jpg" alt="">

                                <div class="blog-post-body clearfix">
                                    <h2>@item.thumbnail</h2>
                                    <div class="blog-post-tag">
                                        <div class="block">
                                            <i class="fa fa-clock-o"></i>
                                            @{
                                                if (item.created.GetValueOrDefault() > 0)
                                                {
                                                    <p>@DateTimeOffset.FromUnixTimeSeconds(item.created.GetValueOrDefault()).ToString(Constants.DateTimePattern.DefaultDateTimePattern)</p>
                                                }
                                            }
                                        </div>
                                        <div class="block">
                                            <i class="fa fa-user"></i>
                                            <p>Admin</p>
                                        </div>

                                    </div>
                                    <p>@item.content</p>

                                </div>
                            </div>	<!-- End of /.blog-box -->
                        </li>
                    }
                </ul>	<!-- End of /.blog-zone -->

                <br />
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Blog", new { page }))
            </div>	<!-- End of /.col-md-9 -->
        </div>	<!-- End of /.row -->
    </div>	<!-- End of /.container -->
</section>	<!-- End of /#Blog -->
