@using NongSanShop.Models;
@using NongSanShop.Common;
@using NongSanShop.Models.Custom;

@model PagedList.IPagedList<NongSanShop.Models.dh_product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    string imgPath = "~/wwwroot/uploads/products/";
}

@{
    var userObject = Session[Constants.SessionItem.User];
    AppUser user = null;
    if (userObject is AppUser)
    {
        user = (AppUser)userObject;
    }
}

<!-- PRODUCTS Start
================================================== -->

<section id="shop">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="products-heading">
                    <h2>SẢN PHẨM MỚI</h2>
                </div>	<!-- End of /.Products-heading -->
                <div class="product-grid">
                    <ul>

                        @foreach (var item in Model)
                        {

                            <li>
                                <div class="products">
                                    <a href="@Url.Action("ProductDetail","Home", new { id = item.id })">
                                        <img src="@Url.Content(imgPath + item.avatar)" alt="Ảnh">
                                    </a>
                                    
                                    <h4>@item.name</h4>
                                    <p class="price">@string.Format("{0:#,### VNĐ}", Convert.ToDecimal(item.price))</p>
                                    <div>
                                        
                                        <a class="view-link shutter" href="@Url.Action("Create", "UserCart", new { productId = item.id, userId = user?.UserId ?? -1})">
                                            <i class="fa fa-plus-circle"></i>Add To Cart
                                        </a>
                                    </div>
                                </div>	<!-- End of /.products -->
                            </li>
                        }
                    </ul>
                </div>	<!-- End of /.products-grid -->
                <!-- Pagination -->

                <div class="pagination-bottom">
                    <br />
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Store", new { page }))
                </div>
            </div>	<!-- End of /.col-md-9 -->
            <div class="col-md-3">
                <div class="blog-sidebar">
                    <div class="block">
                        <h4>Danh mục</h4>
                        <div class="list-group">
                            @foreach (dh_category item in ViewBag.Categories)
                            {
                                <a href="@Url.Action("Store", "Home", new { id = item.id })" class="list-group-item">@item.name</a>

                            }

                        </div>
                    </div>
                </div>	<!-- End of /.col-md-3 -->

            </div>	<!-- End of /.row -->
        </div>	<!-- End of /.container -->
    </div>
</section>	<!-- End of Section -->
