@model NongSanShop.Models.dh_order_product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div>
        <h4>Chi tiết</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Mã đơn hàng
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dh_order.code_name)
            </dd>

            <dt>
                Tên sản phẩm
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dh_product.name)
            </dd>

            <dt>
                Giá
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>

            <dt>
                Số lượng
            </dt>

            <dd>
                @Html.DisplayFor(model => model.quantity)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Quay lại", "Index")
    </p>
</div>


