@model NongSanShop.Models.dh_product

@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div>
        <h4>dh_product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên danh mục
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dh_category.name)
            </dd>

            <dt>
                Tên sản phẩm
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                Mô tả
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>

            <dt>
               Giá
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>

            <dt>
                Số lượng
            </dt>

            <dd>
                @Html.DisplayFor(model => model.quantity)
            </dd>

            <dt>
                Hình ảnh
            </dt>

            <dd>
                @Html.DisplayFor(model => model.avatar)
            </dd>

            <dt>
                Thời gian tạo
            </dt>

            <dd>
                @{
                    var timeStampCreated = Model.created;
                    @Html.Display(DateTimeOffset.FromUnixTimeSeconds(timeStampCreated.GetValueOrDefault()).ToString());
                }
            </dd>

            <dt>
                Thời gian cập nhật
            </dt>

            <dd>
                @{
                    var timeStampUpdated = Model.updated;
                    @Html.Display(DateTimeOffset.FromUnixTimeSeconds(timeStampUpdated.GetValueOrDefault()).ToString());
                }
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Quay lại", "Index")
    </p>
</div>


