@using NongSanShop.Common
@model NongSanShop.Models.dh_blog

@{
    ViewBag.Title = "Bài viết";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div>
        <h4>Chi tiết</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tiêu đề
            </dt>

            <dd>
                @Html.DisplayFor(model => model.thumbnail)
            </dd>

            <dt>
                Nội dung
            </dt>

            <dd>
                @Html.DisplayFor(model => model.content)
            </dd>

            <dt>
                Thời gian tạo
            </dt>

            <dd>
                @{
                    if (Model.created.GetValueOrDefault() > 0)
                    {
                        @DateTimeOffset.FromUnixTimeSeconds(Model.created.GetValueOrDefault()).ToString(Constants.DateTimePattern.DefaultDateTimePattern)
                    }
                }
            </dd>

            <dt>
                Thời gian cập nhật
            </dt>

            <dd>
                @{
                    if (Model.updated.GetValueOrDefault() > 0)
                    {
                        @DateTimeOffset.FromUnixTimeSeconds(Model.updated.GetValueOrDefault()).ToString(Constants.DateTimePattern.DefaultDateTimePattern)
                    }
                }
            </dd>

        </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
</div>


