@model NongSanShop.Models.dh_user
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="content">
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Thông tin cá nhân</h3>
        <div class="row mb-3">
            <div class="col-lg-12">
                <div class="row mb-3 d-none">
                    <div class="col">
                        <div class="card text-white bg-primary shadow">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col">
                                        <p class="m-0">Peformance</p>
                                        <p class="m-0"><strong>65.2%</strong></p>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                </div>
                                <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-white bg-success shadow">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col">
                                        <p class="m-0">Peformance</p>
                                        <p class="m-0"><strong>65.2%</strong></p>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                </div>
                                <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold">Thiết lập người dùng</p>
                            </div>
                            <div class="card-body">
                                @using (Html.BeginForm("Info","Admin",FormMethod.Post))
                                {
                                    @Html.HiddenFor(model => model.id)
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group"><label for="name"><strong>Họ và tên</strong></label><input class="form-control" type="text" id="name" value="@Html.DisplayFor(model => model.name)" name="name"></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group"><label for="email"><strong>Email</strong></label><input class="form-control" type="email" id="email" value="@Html.DisplayFor(model => model.email)" name="email"></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group"><label for="address"><strong>Địa chỉ</strong></label><input class="form-control" type="text" id="address" value="@Html.DisplayFor(model => model.address)" name="address"></div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group"><label for="phone"><strong>Số điện thoại</strong></label><input class="form-control" type="text" id="phone" value="@Html.DisplayFor(model => model.phone)" name="phone"></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-1">
                                            <div class="form-group"><button class="btn btn-primary btn-xs" type="submit">Lưu</button></div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



