@using NongSanShop.Common
@model NongSanShop.Models.dh_cart

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div>
        <h4>Chi tiết</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên sản phẩm
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dh_product.name)
            </dd>

            <dt>
                Tên người dùng
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dh_user.name)
            </dd>

            <dt>
                Số lượng
            </dt>

            <dd>
                @Html.DisplayFor(model => model.quantity)
            </dd>

            <dt>
                Giá
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>

            <dt>
                Thời gian tạo
            </dt>

            <dd>
                @{
                    if (Model.created.GetValueOrDefault() > 0)
                    {
                        @DateTimeOffset.FromUnixTimeSeconds(Model.created.GetValueOrDefault()).ToString(Constants.DateTimePattern.DefaultDateTimePattern)
                    }
                }
            </dd>

            <dt>
                Thời gian cập nhật
            </dt>

            <dd>
                @{
                    if (Model.updated.GetValueOrDefault() > 0)
                    {
                        @DateTimeOffset.FromUnixTimeSeconds(Model.updated.GetValueOrDefault()).ToString(Constants.DateTimePattern.DefaultDateTimePattern)
                    }
                }
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Quay lại", "Index")
    </p>
</div>


