@model NongSanShop.Models.dh_cart

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>dh_cart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dh_product.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dh_product.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dh_user.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dh_user.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
